/***/

#wrapper {
    text-align: center;
    padding: 15px;
    background: #e6f7ff;
    /*border: 1px solid black;*/

}

.taxcalculator {
    width: 1024px;
    text-align: center;
    display: inline-block;
}

div h4 {
    padding: 10px;
}

div label {
    margin-left: 0px;
    text-align: left;
    padding: 10px;
    font-size: 12px;
}

div input {
    float: right;
}

#incomes {
    text-align: left;
    margin: 0;
}

#results {
    text-align: left;
    margin: 0;
}

div span {
    float: right;
}
